.App {
  align-content: space-between;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &-header {
    align-items: center;
    display: flex;

    &.ui.segment {
      margin-bottom: 0;
    }
  }


  &-logo {
    height: 40px;
    width: 40px;
    padding-top: 5px;
  }

  &-companyName {
    align-items: center;
    font-weight: bold;
  }
}

.Main {
  &.ui.segment {
    background: #f0f0f0;
    margin-top: 0;
  }
}

.Card {
  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    flex-direction: column;
  }

  &-filters {
    position: relative;
    margin: .5rem 0;

    .icon {
      margin-right: .5rem;
    }
  }

  &-filterPanel.ui.form {
    background-color: white;
    border-radius: 0.1rem 0.1rem 0 0 !important;
    box-shadow: 0 0 0 1px #d4d4d5;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 1rem;
    padding: 1rem;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    width: 250px;
    z-index: 999;
  }

  .ui.header {
    margin: 0;
  }

  &.ui.card {
    width: 100%;
  }

  &-loader,
  &-failed {
    display: block;
    height: 100%;
    position: absolute !important;
    top: 0;
    width: 100%;
  }
}

.ChartContainer {
  min-height: 400px;
  min-width: 100%;
}


